
html, body {
    height:100%;
    font-family: 'Bellota', cursive; 
    font-weight: bold;
    font-style: italic;
    color:azure;
    width: auto!important; overflow-x: hidden!important;
    font-size:1.5rem;

    }
    


.row {
    display:flex;
    flex-direction: row;
}

.message {
    text-align: center;

}

html {
    background: url(../images/smartphone-portrait/smartphone1.jpg) no-repeat center center fixed;
    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    
}

@media screen and (max-width: 767px) {
    body {
        background: url(../images/smartphone-landscape/landscape1.jpg) no-repeat center center fixed;
        background-size:cover;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        
    }
    
}

@media screen and (max-width: 991px) {
    body {
        background: url(../images/tablet-desktop/Tablet1.jpg) no-repeat center center fixed;
        background-size:cover;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;

    }
    
}

@media screen and (max-width: 1199px) {
    body {
        background: url(../images/tablet-desktop/Tablet1.jpg) no-repeat center center fixed;
        background-size:cover;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        
    }
    
}

@media screen and (min-width: 1199px) {
    body {
        background: url(../images/tablet-desktop/Tablet1.jpg) no-repeat center center fixed;
        background-size:cover;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        
    }
    
}